!000909102
#include "/home/user/.term/frost"
*.dpi:				89
*.depth:			32
*.scrollBar:			false
*.internalBorder:		12
*termName:			rxvt-256color
*loginShell:			true
*font:				xft:PragmataPro:size=8
*fontBold:			xft:PragmataPro:size=8
*lineSpace:			1
*letterSpace:			0
